In [10]:
import re
s = "voskovksp#BIAS(v=1.2,fix=true,dp=false)mV)"
s

'voskovksp#BIAS(v=1.2,fix=true,dp=false)mV)'

In [11]:
m_obj = re.search('#.+\(.*\)',s)
m_obj.group()

'#BIAS(v=1.2,fix=true,dp=false)'

In [25]:
s = """
char   def    main     sub element    fix    bc   lic     dp dpv tmp                                                                 
SQUIDL1      1.75    1.75    1.75       L   True  None    tt   True   9   0
JJAREA1      0.49    0.49    0.49       B  False   tag    tt  False   5   0
JJSHUNT1    16.00   16.00   16.00       R  False   tag  None   True   8   0
PJJAREA1    20.00   20.00   20.00       B  False  None  None   True   5   0
PJJSHUNT1    0.20    0.20    0.20       R  False  None  None   True   8   0
SQUIDL2      1.75    1.75    1.75       L  False  None  None   True   9   0
JJAREA2      0.49    0.49    0.49       B   True  None  None   True   5   0
JJSHUNT2    16.00   16.00   16.00       R  False  None  None   True   8   0
PJJAREA2    20.00   20.00   20.00       B  False  None  None   True   5   0
PJJSHUNT2    0.20    0.20    0.20       R  False  None  None   True   8   0
SQUIDL3      1.75    1.75    1.75       L  False  None  None   True   9   0
JJAREA3      0.49    0.49    0.49       B  False  None  None   True   5   0
JJSHUNT3    16.00   16.00   16.00       R  False  None  None   True   8   0
PJJAREA3    20.00   20.00   20.00       B  False  None  None   True   5   0
PJJSHUNT3    0.20    0.20    0.20       R  False  None  None   True   8   0
JTLL1       18.00   18.00   18.00       L  False  None  None   True   9   0
JTLR1      100.00  100.00  100.00       R  False  None  None   True   8   0
DFFL1       10.00   10.00   10.00       L  False  None  None   True   9   0
DFFL2       18.00   18.00   18.00       L  False  None  None   True   9   0
DFFL3       18.00   18.00   18.00       L  False  None  None   True   9   0
DFFL4       18.00   18.00   18.00       L  False  None  None   True   9   0
DFFR1      100.00  100.00  100.00       R  False  None  None   True   8   0
"""
import io
import pandas as pd
vdf = pd.read_csv(io.StringIO(s),index_col=0,header=0, sep='\s+') 
vdf

              def    main     sub element    fix    bc   lic     dp  dpv  tmp
char
SQUIDL1      1.75    1.75    1.75       L   True  None    tt   True    9    0
JJAREA1      0.49    0.49    0.49       B  False   tag    tt  False    5    0
JJSHUNT1    16.00   16.00   16.00       R  False   tag  None   True    8    0
PJJAREA1    20.00   20.00   20.00       B  False  None  None   True    5    0
PJJSHUNT1    0.20    0.20    0.20       R  False  None  None   True    8    0
SQUIDL2      1.75    1.75    1.75       L  False  None  None   True    9    0
JJAREA2      0.49    0.49    0.49       B   True  None  None   True    5    0
JJSHUNT2    16.00   16.00   16.00       R  False  None  None   True    8    0
PJJAREA2    20.00   20.00   20.00       B  False  None  None   True    5    0
PJJSHUNT2    0.20    0.20    0.20       R  False  None  None   True    8    0
SQUIDL3      1.75    1.75    1.75       L  False  None  None   True    9    0
JJAREA3      0.49    0.49    0.49       B  False  None  None   True    5    0
JJSHUNT3    16.00   16.00   16.00       R  False  None  None   True    8    0
PJJAREA3    20.00   20.00   20.00       B  False  None  None   True    5    0
PJJSHUNT3    0.20    0.20    0.20       R  False  None  None   True    8    0
JTLL1       18.00   18.00   18.00       L  False  None  None   True    9    0
JTLR1      100.00  100.00  100.00       R  False  None  None   True    8    0
DFFL1       10.00   10.00   10.00       L  False  None  None   True    9    0
DFFL2       18.00   18.00   18.00       L  False  None  None   True    9    0
DFFL3       18.00   18.00   18.00       L  False  None  None   True    9    0
DFFL4       18.00   18.00   18.00       L  False  None  None   True    9    0
DFFR1      100.00  100.00  100.00       R  False  None  None   True    8    0

In [26]:
vdf.at['JTLL1','sub'] = 313
vdf.at['DFFL4','sub'] = 3432
vdf.at['SQUIDL3','sub'] = 534
vdf

              def    main      sub element    fix    bc   lic     dp  dpv  tmp
char
SQUIDL1      1.75    1.75     1.75       L   True  None    tt   True    9    0
JJAREA1      0.49    0.49     0.49       B  False   tag    tt  False    5    0
JJSHUNT1    16.00   16.00    16.00       R  False   tag  None   True    8    0
PJJAREA1    20.00   20.00    20.00       B  False  None  None   True    5    0
PJJSHUNT1    0.20    0.20     0.20       R  False  None  None   True    8    0
SQUIDL2      1.75    1.75     1.75       L  False  None  None   True    9    0
JJAREA2      0.49    0.49     0.49       B   True  None  None   True    5    0
JJSHUNT2    16.00   16.00    16.00       R  False  None  None   True    8    0
PJJAREA2    20.00   20.00    20.00       B  False  None  None   True    5    0
PJJSHUNT2    0.20    0.20     0.20       R  False  None  None   True    8    0
SQUIDL3      1.75    1.75   534.00       L  False  None  None   True    9    0
JJAREA3      0.49    0.49     0.49       B  False  None  None   True    5    0
JJSHUNT3    16.00   16.00    16.00       R  False  None  None   True    8    0
PJJAREA3    20.00   20.00    20.00       B  False  None  None   True    5    0
PJJSHUNT3    0.20    0.20     0.20       R  False  None  None   True    8    0
JTLL1       18.00   18.00   313.00       L  False  None  None   True    9    0
JTLR1      100.00  100.00   100.00       R  False  None  None   True    8    0
DFFL1       10.00   10.00    10.00       L  False  None  None   True    9    0
DFFL2       18.00   18.00    18.00       L  False  None  None   True    9    0
DFFL3       18.00   18.00    18.00       L  False  None  None   True    9    0
DFFL4       18.00   18.00  3432.00       L  False  None  None   True    9    0
DFFR1      100.00  100.00   100.00       R  False  None  None   True    8    0

In [27]:
vdf['sub'] = vdf['main']
vdf

              def    main     sub element    fix    bc   lic     dp  dpv  tmp
char
SQUIDL1      1.75    1.75    1.75       L   True  None    tt   True    9    0
JJAREA1      0.49    0.49    0.49       B  False   tag    tt  False    5    0
JJSHUNT1    16.00   16.00   16.00       R  False   tag  None   True    8    0
PJJAREA1    20.00   20.00   20.00       B  False  None  None   True    5    0
PJJSHUNT1    0.20    0.20    0.20       R  False  None  None   True    8    0
SQUIDL2      1.75    1.75    1.75       L  False  None  None   True    9    0
JJAREA2      0.49    0.49    0.49       B   True  None  None   True    5    0
JJSHUNT2    16.00   16.00   16.00       R  False  None  None   True    8    0
PJJAREA2    20.00   20.00   20.00       B  False  None  None   True    5    0
PJJSHUNT2    0.20    0.20    0.20       R  False  None  None   True    8    0
SQUIDL3      1.75    1.75    1.75       L  False  None  None   True    9    0
JJAREA3      0.49    0.49    0.49       B  False  None  None   True    5    0
JJSHUNT3    16.00   16.00   16.00       R  False  None  None   True    8    0
PJJAREA3    20.00   20.00   20.00       B  False  None  None   True    5    0
PJJSHUNT3    0.20    0.20    0.20       R  False  None  None   True    8    0
JTLL1       18.00   18.00   18.00       L  False  None  None   True    9    0
JTLR1      100.00  100.00  100.00       R  False  None  None   True    8    0
DFFL1       10.00   10.00   10.00       L  False  None  None   True    9    0
DFFL2       18.00   18.00   18.00       L  False  None  None   True    9    0
DFFL3       18.00   18.00   18.00       L  False  None  None   True    9    0
DFFL4       18.00   18.00   18.00       L  False  None  None   True    9    0
DFFR1      100.00  100.00  100.00       R  False  None  None   True    8    0

In [14]:
import numpy as np
tmp = 0.04
np.random.normal(tmp,tmp*8/200)

0.04061774409661772

In [15]:
netlist_data = """
.model jjmod jj(Rtype=1, Vg=2.8mV, Cap=0.064pF, R0=100ohm, Rn=16ohm, Icrit=0.1mA)
.model pjjmod jj(Rtype=1, Vg=2.8mV, Cap=0.064pF, R0=100ohm, Rn=16ohm, Icrit=0.1mA, PHI=PI)

*PYSQUID=========================================================================

.subckt psquid        3  5 
L1                 3         1   1.75pH fcheck
L2                 3         4   1.75pH fcheck
B1                 1         5  jjmod area=0.49
R1                 1         5   15.88ohm
B2                 2         5  jjmod area=0.49
R2                 2         5   15.88ohm
B3                 4         2  pjjmod area=20
R3                 4         2   0.2ohm
.ends

.subckt psquid1        3  5 
L1                 3         1   #SQUIDL1(v=1.75,fix=true,dp=7.2,lic=tt)pH fcheck
L2                 3         4   #SQUIDL1(1.75)pH fcheck
B1                 1         5  jjmod area=#JJAREA1(v=0.49,bc=tag,dp=false,lic=tt)
R1                 1         5   #JJSHUNT1(v=16,bc=tag)ohm
B2                 2         5  jjmod area=#JJAREA1(0.49)
R2                 2         5   #JJSHUNT1(16)ohm
B3                 4         2  pjjmod area=#PJJAREA1(20)
R3                 4         2   #PJJSHUNT1(0.2)ohm
.ends

.subckt psquid2        3  5 
L1                 3         1   #SQUIDL2(1.75)pH fcheck
L2                 3         4   #SQUIDL2(1.75)pH fcheck
B1                 1         5  jjmod area=#JJAREA2(v=0.49,fixed=true)
R1                 1         5   #JJSHUNT2(16)ohm
B2                 2         5  jjmod area=#JJAREA2(0.49)
R2                 2         5   #JJSHUNT2(16)ohm
B3                 4         2  pjjmod area=#PJJAREA2(20)
R3                 4         2   #PJJSHUNT2(0.2)ohm
.ends

.subckt psquid3        3  5 
L1                 3         1   #SQUIDL3(1.75)pH fcheck
L2                 3         4   #SQUIDL3(1.75)pH fcheck
B1                 1         5  jjmod area=#JJAREA3(0.49)
R1                 1         5   #JJSHUNT3(16)ohm
B2                 2         5  jjmod area=#JJAREA3(0.49)
R2                 2         5   #JJSHUNT3(16)ohm
B3                 4         2  pjjmod area=#PJJAREA3(20)
R3                 4         2   #PJJSHUNT3(0.2)ohm
.ends

*================================================================================



.subckt JTL     1  5  100
L1               1  2   18pH fcheck
L2               2  3   18pH fcheck
L3               3  4   #JTLL1(18)pH fcheck
L4               4  5   #JTLL1(18)pH fcheck
X1    psquid     3  0
X2    psquid     5  0
R1               100  4   #JTLR1(100)ohm
.ends



.subckt JTL4    1  5  100
X1       JTL            1  2  100
X2       JTL            2  3  100
X3       JTL            3  4  100
X4       JTL            4  5  100
.ends


.subckt DFF 1 4 9 100
L1                   1  2  #DFFL1(10)pH fcheck  
X1       psquid1      2  3
L2                   3  7  #DFFL2(18)pH fcheck

L3                   4  5  #DFFL3(18)pH fcheck
L4                   5  6  #DFFL4(18)pH fcheck
X2       psquid2      6  0
L5                   6  7  2pH  fcheck
R1                   100  7  #DFFR1(100)ohm
L6                   7  8  #DFFL6(10)pH fcheck
L7                   8  9  2pH fcheck
X3       psquid3      9  0
.ends


*** top cell: 
Vin1                     2    0      PWL(0ps 0uV  400ps 0mV 401ps 0.517mV 402ps 0.517mV 403ps 0mV  600ps 0mV 601ps 0.517mV 602ps 0.517mV 603ps 0mV  800ps 0mV 801ps 0.517mV 802ps 0.517mV 803ps 0mV)
X2       JTL4          2     3  100
X3       JTL4          3     4  100
Vin2                     6    0      PWL(0ps 0uV  300ps 0mV 301ps 0.517mV 302ps 0.517mV 303ps 0mV  500ps 0mV 501ps 0.517mV 502ps 0.517mV 503ps 0mV  700ps 0mV 701ps 0.517mV 702ps 0.517mV 703ps 0mV   900ps 0mV 901ps 0.517mV 902ps 0.517mV 903ps 0mV)
X4       JTL4          6     7  100
X5       JTL4          7     8  100
X6       DFF           4     8  9 100
X7       JTL4          9     10  100
X8       JTL4          10    11  100


X9       psquid        11     0
R1                     11    12  8.32ohm
L1                     12     0  2pH fcheck
Vb                     100    0  pwl(0ps 0mV 100ps 1.2mV)



**netlis file
.tran 1.0ps 6000ps 0ps 1ps

.print phase B1|X2|X6
.print phase B2|X2|X6

.print phase B1|X1|X1|X8
.print phase B2|X1|X1|X8

.end

**** optimize ****
* バイアス電圧の立ち上がり終了の時間
* EndTimeOfBiasRise=100e-12
* 初期パルスの入力開始時間
* StartTimeOfPulseInput=300e-12
"""

In [17]:
import importlib
from optimize import data
importlib.reload(data)

vdf = data.Data(netlist_data, True).vdf

--- List of variables to optimize ---
              def    main     sub element    fix    bc   lic     dp dpv tmp
char
SQUIDL1      1.75    1.75    1.75       L   True  None    tt   True   9   0
JJAREA1      0.49    0.49    0.49       B  False   tag    tt  False   5   0
JJSHUNT1    16.00   16.00   16.00       R  False   tag  None   True   8   0
PJJAREA1    20.00   20.00   20.00       B  False  None  None   True   5   0
PJJSHUNT1    0.20    0.20    0.20       R  False  None  None   True   8   0
SQUIDL2      1.75    1.75    1.75       L  False  None  None   True   9   0
JJAREA2      0.49    0.49    0.49       B   True  None  None   True   5   0
JJSHUNT2    16.00   16.00   16.00       R  False  None  None   True   8   0
PJJAREA2    20.00   20.00   20.00       B  False  None  None   True   5   0
PJJSHUNT2    0.20    0.20    0.20       R  False  None  None   True   8   0
SQUIDL3      1.75    1.75    1.75       L  False  None  None   True   9   0
JJAREA3      0.49    0.49    0.49       B  False  None  None   True   5   0
JJSHUNT3    16.00   16.00   16.00       R  False  None  None   True   8   0
PJJAREA3    20.00   20.00   20.00       B  False  None  None   True   5   0
PJJSHUNT3    0.20    0.20    0.20       R  False  None  None   True   8   0
JTLL1       18.00   18.00   18.00       L  False  None  None   True   9   0
JTLR1      100.00  100.00  100.00       R  False  None  None   True   8   0
DFFL1       10.00   10.00   10.00       L  False  None  None   True   9   0
DFFL2       18.00   18.00   18.00       L  False  None  None   True   9   0
DFFL3       18.00   18.00   18.00       L  False  None  None   True   9   0
DFFL4       18.00   18.00   18.00       L  False  None  None   True   9   0
DFFR1      100.00  100.00  100.00       R  False  None  None   True   8   0
DFFL6       10.00   10.00   10.00       L  False  None  None   True   9   0


--- Period to calculate the initial value of bias ---
1e-10  ~  3e-10


--- SQUID used for judging the operation ---
[['P(B1|X2|X6)', 'P(B2|X2|X6)'], ['P(B1|X1|X1|X8)', 'P(B2|X1|X1|X8)']]

In [18]:
indexQ = 'JJSHUNT1'
target = vdf.at[indexQ,'default']
high = target* 2
vdf.at[indexQ,'sub'] = high
vdf

KeyError: 'default'

In [37]:
from optimize.calculator import betac
import numpy as np
import pandas as pd

vdf.at[indexQ,'tmp'] = 1

def betac_filter(df : pd.DataFrame):
    for index in df.index:
        if df.at[index,'tmp'] > 0 and df.at[index,'bc'] != None:
            for tmp_index in df.index:
                # 自身と同じインデックスはスキップ
                if tmp_index == index:
                    continue
                # tag　が一致したとき
                if df.at[tmp_index,'bc'] == df.at[index,'bc']:
                    # R と B の関係であるか確認
                    if df.at[index,'element'] == 'R' and df.at[tmp_index,'element'] == 'B':
                        df.at[tmp_index,'value'] = betac('area',Rshunt=df.at[index,'value'])
                        df.at[tmp_index,'tmp'] = 2
                    elif df.at[index,'element'] == 'B' and df.at[tmp_index,'element'] == 'R':
                        df.at[tmp_index,'value'] = betac('shunt',area=df.at[index,'value'])
                        df.at[tmp_index,'tmp'] = 2
                    else:
                        raise ValueError("element1 ",df.at[index,'element'],"  element2 ",df.at[tmp_index,'element'])
                    break

def lic_filter(df : pd.DataFrame):
    for index in df.index:
        if df.at[index,'tmp'] > 0 and df.at[index,'lic'] != None:
            for tmp_index in df.index:
                # 自身と同じインデックスはスキップ
                if tmp_index == index:
                    continue
                # tag　が一致したとき
                if df.at[tmp_index,'lic'] == df.at[index,'lic']:
                    # R と B の関係であるか確認
                    if df.at[index,'element'] == 'L' and df.at[tmp_index,'element'] == 'B':
                        df.at[tmp_index,'value'] = df.at[index,'default'] * df.at[tmp_index,'default'] / df.at[index,'value']
                        df.at[tmp_index,'tmp'] = 3
                    elif df.at[index,'element'] == 'B' and df.at[tmp_index,'element'] == 'L':
                        df.at[tmp_index,'value'] = df.at[index,'default'] * df.at[tmp_index,'default'] / df.at[index,'value']
                        df.at[tmp_index,'tmp'] = 3
                    else:
                        raise ValueError("(element1,index1)",df.at[index,'element'],index,"  element2 ",df.at[tmp_index,'element'])
                    break

def scatter_filter(df : pd.DataFrame):
    for index in df.index:
        if df.at[index,'dp']:
            tmp = df.at[index,'value']
            dpv = df.at[index,'dpv']
            df.at[index,'value'] = np.random.normal(tmp,tmp*dpv/200)

betac_filter(df=vdf)
lic_filter(df=vdf)
scatter_filter(df=vdf)
vdf

           default       value element    fix    bc   lic     dp dpv tmp
char
SQUIDL1       1.75    3.540994       L   True  None    tt   True   9   3
JJAREA1       0.49    0.241414       B  False   tag    tt  False   5   2
JJSHUNT1     16.00   32.599949       R  False   tag  None   True   8   1
PJJAREA1     20.00   21.060188       B  False  None  None   True   5   0
PJJSHUNT1     0.20    0.194145       R  False  None  None   True   8   0
SQUIDL2       1.75    1.582894       L  False  None  None   True   9   0
JJAREA2       0.49    0.489039       B   True  None  None   True   5   0
JJSHUNT2     16.00   16.207750       R  False  None  None   True   8   0
PJJAREA2     20.00   19.640601       B  False  None  None   True   5   0
PJJSHUNT2     0.20    0.193120       R  False  None  None   True   8   0
SQUIDL3       1.75    1.678333       L  False  None  None   True   9   0
JJAREA3       0.49    0.503998       B  False  None  None   True   5   0
JJSHUNT3     16.00   15.378137       R  False  None  None   True   8   0
PJJAREA3     20.00   19.790771       B  False  None  None   True   5   0
PJJSHUNT3     0.20    0.197883       R  False  None  None   True   8   0
JTLL1        18.00   17.372434       L  False  None  None   True   9   0
JTLR1       100.00  101.804327       R  False  None  None   True   8   0
DFFL1        10.00    9.492128       L  False  None  None   True   9   0
DFFL2        18.00   16.953413       L  False  None  None   True   9   0
DFFL3        18.00   18.069076       L  False  None  None   True   9   0
DFFL4        18.00   17.941549       L  False  None  None   True   9   0
DFFR1       100.00   94.174382       R  False  None  None   True   8   0
DFFL6        10.00    9.819257       L  False  None  None   True   9   0

In [ ]:
gg = True

if gg:

In [27]:
df5 = pd.DataFrame(columns=['low(value)', 'low(%)', 'high(value)', 'high(%)'], index=vdf.index)
df5

        low(value) low(%) high(value) high(%)
char
DCHFQR1        NaN    NaN         NaN     NaN
DCHFQL1        NaN    NaN         NaN     NaN
DCHFQL2        NaN    NaN         NaN     NaN
DCHFQR2        NaN    NaN         NaN     NaN
JTLL1          NaN    NaN         NaN     NaN
JTLR1          NaN    NaN         NaN     NaN
DFFL1          NaN    NaN         NaN     NaN
@DFFL2         NaN    NaN         NaN     NaN
DFFL3          NaN    NaN         NaN     NaN
DFFL4          NaN    NaN         NaN     NaN
DFFR1          NaN    NaN         NaN     NaN
DFFL6          NaN    NaN         NaN     NaN

In [37]:
df5.astype(float)
df5.dtypes

low(value)     object
low(%)         object
high(value)    object
high(%)        object
dtype: object

適当に値を追加

In [33]:
df5.loc['DFFR1'] = (10.0,5.42424,32.400,3.00)
df5

        low(value)   low(%) high(value) high(%)
char
DCHFQR1        NaN      NaN         NaN     NaN
DCHFQL1        NaN      NaN         NaN     NaN
DCHFQL2        NaN      NaN         NaN     NaN
DCHFQR2        NaN      NaN         NaN     NaN
JTLL1          NaN      NaN         NaN     NaN
JTLR1          NaN      NaN         NaN     NaN
DFFL1          NaN      NaN         NaN     NaN
@DFFL2         NaN      NaN         NaN     NaN
DFFL3          NaN      NaN         NaN     NaN
DFFL4          NaN      NaN         NaN     NaN
DFFR1         10.0  5.42424        32.4     3.0
DFFL6          NaN      NaN         NaN     NaN

マージします

In [38]:
merge1 = pd.merge(vdf, df5, on='char')
merge1

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),NaN,NaN,NaN,NaN
DCHFQL1,20,20,False,#DCHFQL1(20),NaN,NaN,NaN,NaN
DCHFQL2,4,4,False,#DCHFQL2(4),NaN,NaN,NaN,NaN
DCHFQR2,100,100,False,#DCHFQR2(100),NaN,NaN,NaN,NaN
JTLL1,18,18,False,#JTLL1(18),NaN,NaN,NaN,NaN
JTLR1,100,100,False,#JTLR1(100),NaN,NaN,NaN,NaN
DFFL1,10,10,False,#DFFL1(10),NaN,NaN,NaN,NaN
@DFFL2,18,18,True,#@DFFL2(18),NaN,NaN,NaN,NaN
DFFL3,18,18,False,#DFFL3(18),NaN,NaN,NaN,NaN
DFFL4,18,18,False,#DFFL4(18),NaN,NaN,NaN,NaN
DFFR1,100,100,False,#DFFR1(100),10.0,5.42424,32.4,3.0
DFFL6,10,10,False,#DFFL6(10),NaN,NaN,NaN,NaN

In [40]:
merge1.at['DCHFQL1','value'] = 60
merge1

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),NaN,NaN,NaN,NaN
DCHFQL1,20,60,False,#DCHFQL1(20),NaN,NaN,NaN,NaN
DCHFQL2,4,4,False,#DCHFQL2(4),NaN,NaN,NaN,NaN
DCHFQR2,100,100,False,#DCHFQR2(100),NaN,NaN,NaN,NaN
JTLL1,18,18,False,#JTLL1(18),NaN,NaN,NaN,NaN
JTLR1,100,100,False,#JTLR1(100),NaN,NaN,NaN,NaN
DFFL1,10,10,False,#DFFL1(10),NaN,NaN,NaN,NaN
@DFFL2,18,18,True,#@DFFL2(18),NaN,NaN,NaN,NaN
DFFL3,18,18,False,#DFFL3(18),NaN,NaN,NaN,NaN
DFFL4,18,18,False,#DFFL4(18),NaN,NaN,NaN,NaN
DFFR1,100,100,False,#DFFR1(100),10.0,5.42424,32.4,3.0
DFFL6,10,10,False,#DFFL6(10),NaN,NaN,NaN,NaN

Dropする

In [32]:
merge1.drop(columns=['low(value)', 'low(%)', 'high(value)', 'high(%)'], inplace=True)
merge1

         default  value  fixed           text
char
DCHFQR1      150    150  False  #DCHFQR1(150)
DCHFQL1       20     20  False   #DCHFQL1(20)
DCHFQL2        4      4  False    #DCHFQL2(4)
DCHFQR2      100    100  False  #DCHFQR2(100)
JTLL1         18     18  False     #JTLL1(18)
JTLR1        100    100  False    #JTLR1(100)
DFFL1         10     10  False     #DFFL1(10)
@DFFL2        18     18   True    #@DFFL2(18)
DFFL3         18     18  False     #DFFL3(18)
DFFL4         18     18  False     #DFFL4(18)
DFFR1        100    100  False    #DFFR1(100)
DFFL6         10     10  False     #DFFL6(10)

In [35]:
m = """
low(value)	low(%)	high(value)	high(%)
DCHFQL2	0.0156	-99.0	8.0	100.0
@DFFL2	0.0700	-99.0	36.0	100.0
DFFL4	0.0700	-99.0	36.0	100.0
DFFL6	0.0390	-99.0	20.0	100.0
DFFL1	0.0390	-99.0	20.0	100.0
DFFL3	0.0700	-99.0	36.0	100.0
DCHFQR2	76.9000	-23.0	200.0	100.0
JTLL1	7.9500	-55.0	36.0	100.0
DFFR1	42.6000	-57.0	200.0	100.0
DCHFQL1	3.1200	-84.0	22.0	10.0
DCHFQR1	136.0000	-9.3	286.0	90.7
JTLR1	66.8000	-33.0	188.0	88.0
"""
mdf = pd.read_csv(io.StringIO(m),index_col=0,header=0, sep='\s+') 
mdf.set_index('char',inplace=True)
mdf

KeyError: "None of ['char'] are in the columns"

In [21]:
margin_result = pd.DataFrame(columns=['char','low(value)', 'low(%)', 'high(value)', 'high(%)'])
margin_result.set_index('char',inplace=True)
margin_result

Empty DataFrame
Columns: [low(value), low(%), high(value), high(%)]
Index: []

In [10]:
marge1 = pd.merge(vdf,mdf,on='char')
marge1

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),136.0000,-9.3,286.0,90.7
DCHFQL1,20,20,False,#DCHFQL1(20),3.1200,-84.0,22.0,10.0
DCHFQL2,4,4,False,#DCHFQL2(4),0.0156,-99.0,8.0,100.0
DCHFQR2,100,100,False,#DCHFQR2(100),76.9000,-23.0,200.0,100.0
JTLL1,18,18,False,#JTLL1(18),7.9500,-55.0,36.0,100.0
JTLR1,100,100,False,#JTLR1(100),66.8000,-33.0,188.0,88.0
DFFL1,10,10,False,#DFFL1(10),0.0390,-99.0,20.0,100.0
@DFFL2,18,18,True,#@DFFL2(18),0.0700,-99.0,36.0,100.0
DFFL3,18,18,False,#DFFL3(18),0.0700,-99.0,36.0,100.0
DFFL4,18,18,False,#DFFL4(18),0.0700,-99.0,36.0,100.0
DFFR1,100,100,False,#DFFR1(100),42.6000,-57.0,200.0,100.0
DFFL6,10,10,False,#DFFL6(10),0.0390,-99.0,20.0,100.0

In [6]:
m2 = """
char low(value)	low(%)	high(value)	high(%)
DCHFQL2	0.0156	-77.0	8.0	100.0
@DFFL2	0.3200	-77.0	36.0	100.0
DFFL4	0.0700	-77.0	36.0	100.0
DFFL6	0.3390	-77.0	20.0	100.0
DFFL1	0.0390	-77.0	20.0	100.0
DFFL3	0.0700	-99.0	36.0	100.0
DCHFQR2	76.9000	-23.0	200.0	100.0
JTLL1	7.9500	-55.0	36.0	100.0
DFFR1	42.6000	-57.0	200.0	100.0
DCHFQL1	3.1200	-84.0	22.0	10.0
DCHFQR1	136.0000	-9.3	286.0	90.7
JTLR1	66.8000	-33.0	188.0	88.0
"""
mdf2 = pd.read_csv(io.StringIO(m2),index_col=0,header=0, sep='\s+') 
mdf2

         low(value)  low(%)  high(value)  high(%)
char
DCHFQL2      0.0156   -77.0          8.0    100.0
@DFFL2       0.3200   -77.0         36.0    100.0
DFFL4        0.0700   -77.0         36.0    100.0
DFFL6        0.3390   -77.0         20.0    100.0
DFFL1        0.0390   -77.0         20.0    100.0
DFFL3        0.0700   -99.0         36.0    100.0
DCHFQR2     76.9000   -23.0        200.0    100.0
JTLL1        7.9500   -55.0         36.0    100.0
DFFR1       42.6000   -57.0        200.0    100.0
DCHFQL1      3.1200   -84.0         22.0     10.0
DCHFQR1    136.0000    -9.3        286.0     90.7
JTLR1       66.8000   -33.0        188.0     88.0

In [11]:
print(marge1)

         default  value  fixed           text  low(value)  low(%)  \
char
DCHFQR1      150    150  False  #DCHFQR1(150)    136.0000    -9.3
DCHFQL1       20     20  False   #DCHFQL1(20)      3.1200   -84.0
DCHFQL2        4      4  False    #DCHFQL2(4)      0.0156   -99.0
DCHFQR2      100    100  False  #DCHFQR2(100)     76.9000   -23.0
JTLL1         18     18  False     #JTLL1(18)      7.9500   -55.0
JTLR1        100    100  False    #JTLR1(100)     66.8000   -33.0
DFFL1         10     10  False     #DFFL1(10)      0.0390   -99.0
@DFFL2        18     18   True    #@DFFL2(18)      0.0700   -99.0
DFFL3         18     18  False     #DFFL3(18)      0.0700   -99.0
DFFL4         18     18  False     #DFFL4(18)      0.0700   -99.0
DFFR1        100    100  False    #DFFR1(100)     42.6000   -57.0
DFFL6         10     10  False     #DFFL6(10)      0.0390   -99.0

         high(value)  high(%)
char
DCHFQR1        286.0     90.7
DCHFQL1         22.0     10.0
DCHFQL2          8.0    100.0
DCHFQR2        200.0    100.0
JTLL1           36.0    100.0
JTLR1          188.0     88.0
DFFL1           20.0    100.0
@DFFL2          36.0    100.0
DFFL3           36.0    100.0
DFFL4           36.0    100.0
DFFR1          200.0    100.0
DFFL6           20.0    100.0

In [12]:
mdf2.columns
marge1.drop(columns = mdf2.columns,inplace=True)

print(marge1)
print(mdf2)

         default  value  fixed           text
char
DCHFQR1      150    150  False  #DCHFQR1(150)
DCHFQL1       20     20  False   #DCHFQL1(20)
DCHFQL2        4      4  False    #DCHFQL2(4)
DCHFQR2      100    100  False  #DCHFQR2(100)
JTLL1         18     18  False     #JTLL1(18)
JTLR1        100    100  False    #JTLR1(100)
DFFL1         10     10  False     #DFFL1(10)
@DFFL2        18     18   True    #@DFFL2(18)
DFFL3         18     18  False     #DFFL3(18)
DFFL4         18     18  False     #DFFL4(18)
DFFR1        100    100  False    #DFFR1(100)
DFFL6         10     10  False     #DFFL6(10)
         low(value)  low(%)  high(value)  high(%)
char
DCHFQL2      0.0156   -77.0          8.0    100.0
@DFFL2       0.3200   -77.0         36.0    100.0
DFFL4        0.0700   -77.0         36.0    100.0
DFFL6        0.3390   -77.0         20.0    100.0
DFFL1        0.0390   -77.0         20.0    100.0
DFFL3        0.0700   -99.0         36.0    100.0
DCHFQR2     76.9000   -23.0        200.0    100.0
JTLL1        7.9500   -55.0         36.0    100.0
DFFR1       42.6000   -57.0        200.0    100.0
DCHFQL1      3.1200   -84.0         22.0     10.0
DCHFQR1    136.0000    -9.3        286.0     90.7
JTLR1       66.8000   -33.0        188.0     88.0

In [16]:
marge2 = marge1.join(mdf2)
marge2

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),136.0000,-9.3,286.0,90.7
DCHFQL1,20,20,False,#DCHFQL1(20),3.1200,-84.0,22.0,10.0
DCHFQL2,4,4,False,#DCHFQL2(4),0.0156,-77.0,8.0,100.0
DCHFQR2,100,100,False,#DCHFQR2(100),76.9000,-23.0,200.0,100.0
JTLL1,18,18,False,#JTLL1(18),7.9500,-55.0,36.0,100.0
JTLR1,100,100,False,#JTLR1(100),66.8000,-33.0,188.0,88.0
DFFL1,10,10,False,#DFFL1(10),0.0390,-77.0,20.0,100.0
@DFFL2,18,18,True,#@DFFL2(18),0.3200,-77.0,36.0,100.0
DFFL3,18,18,False,#DFFL3(18),0.0700,-99.0,36.0,100.0
DFFL4,18,18,False,#DFFL4(18),0.0700,-77.0,36.0,100.0
DFFR1,100,100,False,#DFFR1(100),42.6000,-57.0,200.0,100.0
DFFL6,10,10,False,#DFFL6(10),0.3390,-77.0,20.0,100.0

In [9]:
df3 = pd.DataFrame(columns=['low(value)','high(value)'])
df4 = pd.concat([df2,pd.DataFrame(columns=['low(value)','high(value)'])], axis=1)
df4

         default  value  fixed           text low(value) high(value)
DCHFQR1      150    150  False  #DCHFQR1(150)        NaN         NaN
DCHFQL1       20     20  False   #DCHFQL1(20)        NaN         NaN
DCHFQL2        4      4  False    #DCHFQL2(4)        NaN         NaN
DCHFQR2      100    100  False  #DCHFQR2(100)        NaN         NaN
JTLL1         18     18  False     #JTLL1(18)        NaN         NaN
JTLR1        100    100  False    #JTLR1(100)        NaN         NaN
DFFL1         10     10  False     #DFFL1(10)        NaN         NaN
@DFFL2        18     18   True    #@DFFL2(18)        NaN         NaN
DFFL3         18     18  False     #DFFL3(18)        NaN         NaN
DFFL4         18     18  False     #DFFL4(18)        NaN         NaN
DFFR1        100    100  False    #DFFR1(100)        NaN         NaN
DFFL6         10     10  False     #DFFL6(10)        NaN         NaN

In [7]:
df2['low(value)'] = 0
df2['high(value)'] = 0
# print(df2)

df2.loc['DCHFQR1'] = {'low(value)' : 10, 'high(value)' : 43}

print(df2)

         default  value  fixed           text  low(value)  high(value)
char
DCHFQR1      NaN    NaN    NaN            NaN          10           43
DCHFQL1     20.0   20.0  False   #DCHFQL1(20)           0            0
DCHFQL2      4.0    4.0  False    #DCHFQL2(4)           0            0
DCHFQR2    100.0  100.0  False  #DCHFQR2(100)           0            0
JTLL1       18.0   18.0  False     #JTLL1(18)           0            0
JTLR1      100.0  100.0  False    #JTLR1(100)           0            0
DFFL1       10.0   10.0  False     #DFFL1(10)           0            0
@DFFL2      18.0   18.0   True    #@DFFL2(18)           0            0
DFFL3       18.0   18.0  False     #DFFL3(18)           0            0
DFFL4       18.0   18.0  False     #DFFL4(18)           0            0
DFFR1      100.0  100.0  False    #DFFR1(100)           0            0
DFFL6       10.0   10.0  False     #DFFL6(10)           0            0