In [41]:
s = """
char  default value  fixed           text                                   
DCHFQR1     150   150  False  #DCHFQR1(150)
DCHFQL1      20    20  False   #DCHFQL1(20)
DCHFQL2       4     4  False    #DCHFQL2(4)
DCHFQR2     100   100  False  #DCHFQR2(100)
JTLL1        18    18  False     #JTLL1(18)
JTLR1       100   100  False    #JTLR1(100)
DFFL1        10    10  False     #DFFL1(10)
@DFFL2       18    18   True    #@DFFL2(18)
DFFL3        18    18  False     #DFFL3(18)
DFFL4        18    18  False     #DFFL4(18)
DFFR1       100   100  False    #DFFR1(100)
DFFL6        10    10  False     #DFFL6(10)
"""

import io
import pandas as pd
vdf = pd.read_csv(io.StringIO(s),index_col=0,header=0, sep='\s+') 
vdf

         default  value  fixed           text
char
DCHFQR1      150    150  False  #DCHFQR1(150)
DCHFQL1       20     20  False   #DCHFQL1(20)
DCHFQL2        4      4  False    #DCHFQL2(4)
DCHFQR2      100    100  False  #DCHFQR2(100)
JTLL1         18     18  False     #JTLL1(18)
JTLR1        100    100  False    #JTLR1(100)
DFFL1         10     10  False     #DFFL1(10)
@DFFL2        18     18   True    #@DFFL2(18)
DFFL3         18     18  False     #DFFL3(18)
DFFL4         18     18  False     #DFFL4(18)
DFFR1        100    100  False    #DFFR1(100)
DFFL6         10     10  False     #DFFL6(10)

In [44]:
vdf.drop("defaudsadlt",axis=1, errors='ignore')

         default  value  fixed           text
char
DCHFQR1      150    150  False  #DCHFQR1(150)
DCHFQL1       20     20  False   #DCHFQL1(20)
DCHFQL2        4      4  False    #DCHFQL2(4)
DCHFQR2      100    100  False  #DCHFQR2(100)
JTLL1         18     18  False     #JTLL1(18)
JTLR1        100    100  False    #JTLR1(100)
DFFL1         10     10  False     #DFFL1(10)
@DFFL2        18     18   True    #@DFFL2(18)
DFFL3         18     18  False     #DFFL3(18)
DFFL4         18     18  False     #DFFL4(18)
DFFR1        100    100  False    #DFFR1(100)
DFFL6         10     10  False     #DFFL6(10)

In [27]:
df5 = pd.DataFrame(columns=['low(value)', 'low(%)', 'high(value)', 'high(%)'], index=vdf.index)
df5

        low(value) low(%) high(value) high(%)
char
DCHFQR1        NaN    NaN         NaN     NaN
DCHFQL1        NaN    NaN         NaN     NaN
DCHFQL2        NaN    NaN         NaN     NaN
DCHFQR2        NaN    NaN         NaN     NaN
JTLL1          NaN    NaN         NaN     NaN
JTLR1          NaN    NaN         NaN     NaN
DFFL1          NaN    NaN         NaN     NaN
@DFFL2         NaN    NaN         NaN     NaN
DFFL3          NaN    NaN         NaN     NaN
DFFL4          NaN    NaN         NaN     NaN
DFFR1          NaN    NaN         NaN     NaN
DFFL6          NaN    NaN         NaN     NaN

In [37]:
df5.astype(float)
df5.dtypes

low(value)     object
low(%)         object
high(value)    object
high(%)        object
dtype: object

適当に値を追加

In [33]:
df5.loc['DFFR1'] = (10.0,5.42424,32.400,3.00)
df5

        low(value)   low(%) high(value) high(%)
char
DCHFQR1        NaN      NaN         NaN     NaN
DCHFQL1        NaN      NaN         NaN     NaN
DCHFQL2        NaN      NaN         NaN     NaN
DCHFQR2        NaN      NaN         NaN     NaN
JTLL1          NaN      NaN         NaN     NaN
JTLR1          NaN      NaN         NaN     NaN
DFFL1          NaN      NaN         NaN     NaN
@DFFL2         NaN      NaN         NaN     NaN
DFFL3          NaN      NaN         NaN     NaN
DFFL4          NaN      NaN         NaN     NaN
DFFR1         10.0  5.42424        32.4     3.0
DFFL6          NaN      NaN         NaN     NaN

マージします

In [38]:
merge1 = pd.merge(vdf, df5, on='char')
merge1

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),NaN,NaN,NaN,NaN
DCHFQL1,20,20,False,#DCHFQL1(20),NaN,NaN,NaN,NaN
DCHFQL2,4,4,False,#DCHFQL2(4),NaN,NaN,NaN,NaN
DCHFQR2,100,100,False,#DCHFQR2(100),NaN,NaN,NaN,NaN
JTLL1,18,18,False,#JTLL1(18),NaN,NaN,NaN,NaN
JTLR1,100,100,False,#JTLR1(100),NaN,NaN,NaN,NaN
DFFL1,10,10,False,#DFFL1(10),NaN,NaN,NaN,NaN
@DFFL2,18,18,True,#@DFFL2(18),NaN,NaN,NaN,NaN
DFFL3,18,18,False,#DFFL3(18),NaN,NaN,NaN,NaN
DFFL4,18,18,False,#DFFL4(18),NaN,NaN,NaN,NaN
DFFR1,100,100,False,#DFFR1(100),10.0,5.42424,32.4,3.0
DFFL6,10,10,False,#DFFL6(10),NaN,NaN,NaN,NaN

In [40]:
merge1.at['DCHFQL1','value'] = 60
merge1

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),NaN,NaN,NaN,NaN
DCHFQL1,20,60,False,#DCHFQL1(20),NaN,NaN,NaN,NaN
DCHFQL2,4,4,False,#DCHFQL2(4),NaN,NaN,NaN,NaN
DCHFQR2,100,100,False,#DCHFQR2(100),NaN,NaN,NaN,NaN
JTLL1,18,18,False,#JTLL1(18),NaN,NaN,NaN,NaN
JTLR1,100,100,False,#JTLR1(100),NaN,NaN,NaN,NaN
DFFL1,10,10,False,#DFFL1(10),NaN,NaN,NaN,NaN
@DFFL2,18,18,True,#@DFFL2(18),NaN,NaN,NaN,NaN
DFFL3,18,18,False,#DFFL3(18),NaN,NaN,NaN,NaN
DFFL4,18,18,False,#DFFL4(18),NaN,NaN,NaN,NaN
DFFR1,100,100,False,#DFFR1(100),10.0,5.42424,32.4,3.0
DFFL6,10,10,False,#DFFL6(10),NaN,NaN,NaN,NaN

Dropする

In [32]:
merge1.drop(columns=['low(value)', 'low(%)', 'high(value)', 'high(%)'], inplace=True)
merge1

         default  value  fixed           text
char
DCHFQR1      150    150  False  #DCHFQR1(150)
DCHFQL1       20     20  False   #DCHFQL1(20)
DCHFQL2        4      4  False    #DCHFQL2(4)
DCHFQR2      100    100  False  #DCHFQR2(100)
JTLL1         18     18  False     #JTLL1(18)
JTLR1        100    100  False    #JTLR1(100)
DFFL1         10     10  False     #DFFL1(10)
@DFFL2        18     18   True    #@DFFL2(18)
DFFL3         18     18  False     #DFFL3(18)
DFFL4         18     18  False     #DFFL4(18)
DFFR1        100    100  False    #DFFR1(100)
DFFL6         10     10  False     #DFFL6(10)

In [35]:
m = """
low(value)	low(%)	high(value)	high(%)
DCHFQL2	0.0156	-99.0	8.0	100.0
@DFFL2	0.0700	-99.0	36.0	100.0
DFFL4	0.0700	-99.0	36.0	100.0
DFFL6	0.0390	-99.0	20.0	100.0
DFFL1	0.0390	-99.0	20.0	100.0
DFFL3	0.0700	-99.0	36.0	100.0
DCHFQR2	76.9000	-23.0	200.0	100.0
JTLL1	7.9500	-55.0	36.0	100.0
DFFR1	42.6000	-57.0	200.0	100.0
DCHFQL1	3.1200	-84.0	22.0	10.0
DCHFQR1	136.0000	-9.3	286.0	90.7
JTLR1	66.8000	-33.0	188.0	88.0
"""
mdf = pd.read_csv(io.StringIO(m),index_col=0,header=0, sep='\s+') 
mdf.set_index('char',inplace=True)
mdf

KeyError: "None of ['char'] are in the columns"

In [21]:
margin_result = pd.DataFrame(columns=['char','low(value)', 'low(%)', 'high(value)', 'high(%)'])
margin_result.set_index('char',inplace=True)
margin_result

Empty DataFrame
Columns: [low(value), low(%), high(value), high(%)]
Index: []

In [10]:
marge1 = pd.merge(vdf,mdf,on='char')
marge1

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),136.0000,-9.3,286.0,90.7
DCHFQL1,20,20,False,#DCHFQL1(20),3.1200,-84.0,22.0,10.0
DCHFQL2,4,4,False,#DCHFQL2(4),0.0156,-99.0,8.0,100.0
DCHFQR2,100,100,False,#DCHFQR2(100),76.9000,-23.0,200.0,100.0
JTLL1,18,18,False,#JTLL1(18),7.9500,-55.0,36.0,100.0
JTLR1,100,100,False,#JTLR1(100),66.8000,-33.0,188.0,88.0
DFFL1,10,10,False,#DFFL1(10),0.0390,-99.0,20.0,100.0
@DFFL2,18,18,True,#@DFFL2(18),0.0700,-99.0,36.0,100.0
DFFL3,18,18,False,#DFFL3(18),0.0700,-99.0,36.0,100.0
DFFL4,18,18,False,#DFFL4(18),0.0700,-99.0,36.0,100.0
DFFR1,100,100,False,#DFFR1(100),42.6000,-57.0,200.0,100.0
DFFL6,10,10,False,#DFFL6(10),0.0390,-99.0,20.0,100.0

In [6]:
m2 = """
char low(value)	low(%)	high(value)	high(%)
DCHFQL2	0.0156	-77.0	8.0	100.0
@DFFL2	0.3200	-77.0	36.0	100.0
DFFL4	0.0700	-77.0	36.0	100.0
DFFL6	0.3390	-77.0	20.0	100.0
DFFL1	0.0390	-77.0	20.0	100.0
DFFL3	0.0700	-99.0	36.0	100.0
DCHFQR2	76.9000	-23.0	200.0	100.0
JTLL1	7.9500	-55.0	36.0	100.0
DFFR1	42.6000	-57.0	200.0	100.0
DCHFQL1	3.1200	-84.0	22.0	10.0
DCHFQR1	136.0000	-9.3	286.0	90.7
JTLR1	66.8000	-33.0	188.0	88.0
"""
mdf2 = pd.read_csv(io.StringIO(m2),index_col=0,header=0, sep='\s+') 
mdf2

         low(value)  low(%)  high(value)  high(%)
char
DCHFQL2      0.0156   -77.0          8.0    100.0
@DFFL2       0.3200   -77.0         36.0    100.0
DFFL4        0.0700   -77.0         36.0    100.0
DFFL6        0.3390   -77.0         20.0    100.0
DFFL1        0.0390   -77.0         20.0    100.0
DFFL3        0.0700   -99.0         36.0    100.0
DCHFQR2     76.9000   -23.0        200.0    100.0
JTLL1        7.9500   -55.0         36.0    100.0
DFFR1       42.6000   -57.0        200.0    100.0
DCHFQL1      3.1200   -84.0         22.0     10.0
DCHFQR1    136.0000    -9.3        286.0     90.7
JTLR1       66.8000   -33.0        188.0     88.0

In [11]:
print(marge1)

         default  value  fixed           text  low(value)  low(%)  \
char
DCHFQR1      150    150  False  #DCHFQR1(150)    136.0000    -9.3
DCHFQL1       20     20  False   #DCHFQL1(20)      3.1200   -84.0
DCHFQL2        4      4  False    #DCHFQL2(4)      0.0156   -99.0
DCHFQR2      100    100  False  #DCHFQR2(100)     76.9000   -23.0
JTLL1         18     18  False     #JTLL1(18)      7.9500   -55.0
JTLR1        100    100  False    #JTLR1(100)     66.8000   -33.0
DFFL1         10     10  False     #DFFL1(10)      0.0390   -99.0
@DFFL2        18     18   True    #@DFFL2(18)      0.0700   -99.0
DFFL3         18     18  False     #DFFL3(18)      0.0700   -99.0
DFFL4         18     18  False     #DFFL4(18)      0.0700   -99.0
DFFR1        100    100  False    #DFFR1(100)     42.6000   -57.0
DFFL6         10     10  False     #DFFL6(10)      0.0390   -99.0

         high(value)  high(%)
char
DCHFQR1        286.0     90.7
DCHFQL1         22.0     10.0
DCHFQL2          8.0    100.0
DCHFQR2        200.0    100.0
JTLL1           36.0    100.0
JTLR1          188.0     88.0
DFFL1           20.0    100.0
@DFFL2          36.0    100.0
DFFL3           36.0    100.0
DFFL4           36.0    100.0
DFFR1          200.0    100.0
DFFL6           20.0    100.0

In [12]:
mdf2.columns
marge1.drop(columns = mdf2.columns,inplace=True)

print(marge1)
print(mdf2)

         default  value  fixed           text
char
DCHFQR1      150    150  False  #DCHFQR1(150)
DCHFQL1       20     20  False   #DCHFQL1(20)
DCHFQL2        4      4  False    #DCHFQL2(4)
DCHFQR2      100    100  False  #DCHFQR2(100)
JTLL1         18     18  False     #JTLL1(18)
JTLR1        100    100  False    #JTLR1(100)
DFFL1         10     10  False     #DFFL1(10)
@DFFL2        18     18   True    #@DFFL2(18)
DFFL3         18     18  False     #DFFL3(18)
DFFL4         18     18  False     #DFFL4(18)
DFFR1        100    100  False    #DFFR1(100)
DFFL6         10     10  False     #DFFL6(10)
         low(value)  low(%)  high(value)  high(%)
char
DCHFQL2      0.0156   -77.0          8.0    100.0
@DFFL2       0.3200   -77.0         36.0    100.0
DFFL4        0.0700   -77.0         36.0    100.0
DFFL6        0.3390   -77.0         20.0    100.0
DFFL1        0.0390   -77.0         20.0    100.0
DFFL3        0.0700   -99.0         36.0    100.0
DCHFQR2     76.9000   -23.0        200.0    100.0
JTLL1        7.9500   -55.0         36.0    100.0
DFFR1       42.6000   -57.0        200.0    100.0
DCHFQL1      3.1200   -84.0         22.0     10.0
DCHFQR1    136.0000    -9.3        286.0     90.7
JTLR1       66.8000   -33.0        188.0     88.0

In [16]:
marge2 = marge1.join(mdf2)
marge2

,default,value,fixed,text,low(value),low(%),high(value),high(%)
char,,,,,,,,
DCHFQR1,150,150,False,#DCHFQR1(150),136.0000,-9.3,286.0,90.7
DCHFQL1,20,20,False,#DCHFQL1(20),3.1200,-84.0,22.0,10.0
DCHFQL2,4,4,False,#DCHFQL2(4),0.0156,-77.0,8.0,100.0
DCHFQR2,100,100,False,#DCHFQR2(100),76.9000,-23.0,200.0,100.0
JTLL1,18,18,False,#JTLL1(18),7.9500,-55.0,36.0,100.0
JTLR1,100,100,False,#JTLR1(100),66.8000,-33.0,188.0,88.0
DFFL1,10,10,False,#DFFL1(10),0.0390,-77.0,20.0,100.0
@DFFL2,18,18,True,#@DFFL2(18),0.3200,-77.0,36.0,100.0
DFFL3,18,18,False,#DFFL3(18),0.0700,-99.0,36.0,100.0
DFFL4,18,18,False,#DFFL4(18),0.0700,-77.0,36.0,100.0
DFFR1,100,100,False,#DFFR1(100),42.6000,-57.0,200.0,100.0
DFFL6,10,10,False,#DFFL6(10),0.3390,-77.0,20.0,100.0

In [9]:
df3 = pd.DataFrame(columns=['low(value)','high(value)'])
df4 = pd.concat([df2,pd.DataFrame(columns=['low(value)','high(value)'])], axis=1)
df4

         default  value  fixed           text low(value) high(value)
DCHFQR1      150    150  False  #DCHFQR1(150)        NaN         NaN
DCHFQL1       20     20  False   #DCHFQL1(20)        NaN         NaN
DCHFQL2        4      4  False    #DCHFQL2(4)        NaN         NaN
DCHFQR2      100    100  False  #DCHFQR2(100)        NaN         NaN
JTLL1         18     18  False     #JTLL1(18)        NaN         NaN
JTLR1        100    100  False    #JTLR1(100)        NaN         NaN
DFFL1         10     10  False     #DFFL1(10)        NaN         NaN
@DFFL2        18     18   True    #@DFFL2(18)        NaN         NaN
DFFL3         18     18  False     #DFFL3(18)        NaN         NaN
DFFL4         18     18  False     #DFFL4(18)        NaN         NaN
DFFR1        100    100  False    #DFFR1(100)        NaN         NaN
DFFL6         10     10  False     #DFFL6(10)        NaN         NaN

In [7]:
df2['low(value)'] = 0
df2['high(value)'] = 0
# print(df2)

df2.loc['DCHFQR1'] = {'low(value)' : 10, 'high(value)' : 43}

print(df2)

         default  value  fixed           text  low(value)  high(value)
char
DCHFQR1      NaN    NaN    NaN            NaN          10           43
DCHFQL1     20.0   20.0  False   #DCHFQL1(20)           0            0
DCHFQL2      4.0    4.0  False    #DCHFQL2(4)           0            0
DCHFQR2    100.0  100.0  False  #DCHFQR2(100)           0            0
JTLL1       18.0   18.0  False     #JTLL1(18)           0            0
JTLR1      100.0  100.0  False    #JTLR1(100)           0            0
DFFL1       10.0   10.0  False     #DFFL1(10)           0            0
@DFFL2      18.0   18.0   True    #@DFFL2(18)           0            0
DFFL3       18.0   18.0  False     #DFFL3(18)           0            0
DFFL4       18.0   18.0  False     #DFFL4(18)           0            0
DFFR1      100.0  100.0  False    #DFFR1(100)           0            0
DFFL6       10.0   10.0  False     #DFFL6(10)           0            0